.menu-link{
    display: inline-block;
}
a{
    text-decoration: none;
    color: aliceblue;
    background-color: blueviolet;
    padding: 0.6rem;
    border-radius: 1.5rem;
}

a:hover{
    background-color: rgb(170, 90, 245);
}

body{
    background-image: url("../imagenes/fondo.png");
    background-attachment: fixed;
    margin: 0;
}


section{
    display: block;
    background-color: rgba(103, 3, 170, 0.87);
    padding: 1.2rem;
    border-radius: 1.2rem;;
    color: aliceblue;
}

footer{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
section img{
    display: inline-block;
    
}


article{
    display: flex;
    align-items: center;
    gap: 20px;
}

iframe{
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    max-width: 560px;
}

.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3{
    font-family: Abel;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    max-width: 1400px;
    margin: auto;
}