body {
    background-color: rgb(29, 29, 29); 
    /*Fondo de la pagina*/
}
.titulo  {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(73, 0, 0);
    /*h1 del index*/
}

p   {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    /*formato de los parrafos*/
}

.contenedor {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(73, 0, 0);
    padding: 20px;
    max-width: 48.5%;
    border-radius: 20px;
    /*classe div index*/
}

img {
    border-radius: 20px;
    /*bordes redondeados del la imagen*/
}

.op {
    flex: 1;
    padding: 20px;
    background-color: rgb(73, 0, 0);
    border-radius: 20px;
    /*Video del index*/
}


.conjunto {
    display: flex;
    gap: 20px;
}

li {
    display:inline-block;
    margin: 2px;
}

a {
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   color: aliceblue;
   background-color: rgb(73, 0, 0);
   padding: 10px;
   border-radius: 20px;
   transition: 0.3s;
}

a:hover {
    background-color: brown;
    padding: 13px;
}

.cap{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(73, 0, 0);
    padding: 15px;
    display: inline-block;
    border-radius: 20px;
}

.capitulos {
    display: block;
    width: 1300px;
    height: 600px;

    margin: 20px auto;

    padding: 20px;
    background-color: rgb(73, 0, 0);
    border-radius: 20px;
}

nav {
    text-align: center;
}